table {
	border: 1px #7f7f7f solid;
	border-collapse: collapse;
}

th {
	background-color: #ffcfcf;
	text-align: center;
	border: 1px #7f7f7f solid;
}

td {
	background-color: #ffffff;
	text-align: center;
	border: 1px #7f7f7f solid;
}

.noborder {
	border: 0px #000000 hidden;
}

sup {
	color: red;
}

input.text {
	width: 300px;
	ime-mode: auto;
}

input.id {
	float: left;
	width: 200px;
	ime-mode: disabled;
}

input.password {
	float: left;
	width: 200px;
	ime-mode: disabled;
}

.heading-29 {
    display: inline-block;
    position: relative;
    margin: calc(3.5em / 2) 0 calc(3.5em / 4) calc(3.5em / 2);
    color: #333333;
    line-height: 1;
}

.heading-29::before {
    position: absolute;
    bottom: calc(-3.5em / 4);
    left: calc(-3.5em / 2);
    z-index: -1;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: #bbdbfb;
    content: '';
}

.button-55 {
    display: flex;

    min-width: 250px;

    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #ADC8EE;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
  
}

.button-55::before {
    width: 1.25em;
    height: 1.25em;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    content: '';
}

.button-55:hover {
    background-color: #1579c0;
}

.button-61 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: .9em 3.2em .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #2589c0;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%23fff%3B%22%2F%3E%0A%3C%2Fsvg%3E);
    background-position: right 3em center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-61:hover {
    background-color: #1579c0;
}

.button-61::before,
.button-61::after {
    position: absolute;
    right: calc(3.6em - 1.5px);
    width: 3px;
    height: 10px;
    border-radius: 1px;
    background-color: #2589d0;
    content: '';
}

.button-61::before {
    transform: rotate(90deg);
}


